<%- include('header.ejs') %>
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>Photos</h2>
                <ol>
                    <li><a href="/">Home</a></li>
                    <li>ALL</li>
                </ol>
            </div>
            <div class="contact"><button type="button" onclick="location.href='/photos/write/' " class="write-form">글쓰러 가기</button></div>
        </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
        <div class="container">
            <div class="row portfolio-container">
                <% data.forEach(function(value) { %>
                    <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                        <div class="portfolio-wrap">
                            <img src="/img/uploadImages/<%= value.thumb_img %>" class="img-fluid" alt="">
                            <a href="/photos/content/<%= value.co_idx %>" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details">
                            <div class="portfolio-info">
                                <h4><%= value.subject %></h4>
                            </div>
                            </a>
                        </div>
                    </div>
                <% }); %>
<!--                    <tr>-->
<!--                        <td colspan="7" class="nodata">[현재 등록된 자료가 없습니다.]</td>-->
<!--                    </tr>-->
            </div>
        </div>
    </section><!-- End Portfolio Section -->

</main><!-- End #main -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="/assets/vendor/waypoints/noframework.waypoints.js"></script>
<script src="/assets/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="/assets/js/main.js"></script>

</body>

</html>