  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Services</h2>
          <ol>
            <li><a href="index.html">Home</a></li>
            <li>Services</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

      <!-- ======= Our Skills Section ======= -->
      <section id="skills" class="skills">
          <div class="container">
              <div class="section-title">
                  <h2>Services</h2>
                  <p>Our Services</p>
              </div>

              <div class="row skills-content">

                  <div class="col-lg-6">

                      <div class="progress">
                          <span class="skill">건축 설계 <i class="val">100%</i></span>
                          <div class="progress-bar-wrap">
                              <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                      </div>

                      <div class="progress">
                          <span class="skill">개발 기획 <i class="val">90%</i></span>
                          <div class="progress-bar-wrap">
                              <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                      </div>

                      <div class="progress">
                          <span class="skill">도시 디자인 <i class="val">75%</i></span>
                          <div class="progress-bar-wrap">
                              <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                      </div>

                  </div>

                  <div class="col-lg-6">

                      <div class="progress">
                          <span class="skill">연구용역 <i class="val">80%</i></span>
                          <div class="progress-bar-wrap">
                              <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                      </div>

                      <div class="progress">
                          <span class="skill">해외사업 <i class="val">90%</i></span>
                          <div class="progress-bar-wrap">
                              <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                      </div>

                      <div class="progress">
                          <span class="skill">건축감리 <i class="val">55%</i></span>
                          <div class="progress-bar-wrap">
                              <div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                      </div>

                  </div>

              </div>

          </div>
      </section><!-- End Our Skills Section -->

      <section id="services" class="services">
          <div class="container">
              <div class="row">
                  <div class="col-md-6">
                      <div class="icon-box">
                          <i class="bi bi-briefcase"></i>
                          <h4><a href="#">건축설계</a></h4>
                          <p>건축설계(Architectural Design)는 건축물을 구축하기 위하여 요구되는 기능과 형태와 구조를 결정하고 물리적 형식을 구체화하는 과정을 총칭합니다.
                              따라서 건축설계란 도면을 통해 실질적으로 건축물을 구상하는 과정을 의미합니다.</p>
                      </div>
                  </div>
                  <div class="col-md-6 mt-4 mt-md-0">
                      <div class="icon-box">
                          <i class="bi bi-card-checklist"></i>
                          <h4><a href="#">개발기획</a></h4>
                          <p>개발기획(Development Planning)은 발전에 관한 기획으로 발전기획이라고도 하며 개발에 관련하여 대상의 변화를 가져올 목적을 확인하고, 그 목적을 성취하는 데에
                              가장 적합한 행동을 설계하는 것을 의미합니다.</p>
                      </div>
                  </div>
                  <div class="col-md-6 mt-4 mt-md-0">
                      <div class="icon-box">
                          <i class="bi bi-bar-chart"></i>
                          <h4><a href="#">도시 디자인</a></h4>
                          <p>도시 디자인(City Design)은 시민들이 도시를 이용하기 ‘편리’하게 만드는 행위나 수단이며 도시계획과 건축의 한계를 넘어서는것을 의미합니다. 특정 도시만의 느낌, 즉 어버니티를 갖춘 ‘참한 도시’를 만드는 것이 도시 디자인입니다.</p>
                      </div>
                  </div>
                  <div class="col-md-6 mt-4 mt-md-0">
                      <div class="icon-box">
                          <i class="bi bi-binoculars"></i>
                          <h4><a href="#">연구용역</a></h4>
                          <p>연구용역(Research Service)란 기업체나 공공기관 등이 특정한 연구를 위해 대학이나 연구소 등에 용역을 발주하는 것을 의미합니다.</p>
                      </div>
                  </div>
                  <div class="col-md-6 mt-4 mt-md-0">
                      <div class="icon-box">
                          <i class="bi bi-brightness-high"></i>
                          <h4><a href="#">해외사업</a></h4>
                          <p>스튜디오 엠오비는 카자흐스탄 아스타나 주상복합시설 현상설계 당선 등 다양한 해외 사업을 추진하고 진행해 본 경험이 있습니다.</p>
                      </div>
                  </div>
                  <div class="col-md-6 mt-4 mt-md-0">
                      <div class="icon-box">
                          <i class="bi bi-calendar4-week"></i>
                          <h4><a href="#">건축 감리</a></h4>
                          <p>"감리"란 건설공사가 관계 법령이나 기준, 설계도서 또는 그 밖의 관계 서류 등에 따라 적정하게 시행될 수 있도록 시공관리·품질관리·안전관리 등에 대한 기술지도를 하는 건설사업관리 업무를 말합니다.</p>
                      </div>
                  </div>
              </div>

          </div>

      </section><!-- End Services Section -->

  </main><!-- End #main -->
